body {
	background-color: #fff;

}

div.photo {
	background-image: url(../img/accueil.jpg);
	height: 850px;
	vertical-align: middle;
}

h1.titre {
	text-align: center;
	padding-top: 50px;
	font-family: Fugaz One;
	font-size: 100px;
	color: #0277BD;
	text-shadow: 2px 2px 1px #606060;
}

h1.photo {
	font-size: 125px;
	text-align: center;
	padding-top: 300px;
	color: #fff;
}

h2.photo {
	font-size: 75px;
	text-align: center;
	color: #4FC3F7;
}

h2.next {
	text-align: center;
	padding-bottom: 25px;
	font-family: Fugaz One;
	font-size: 75px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #0277BD;
	text-shadow: 2px 2px 1px #606060;
}

h2.infomail {
	font-family: Ubuntu;
}

h3.next {
	text-align: center;
	padding-top: 50px;
	font-family: Fugaz One;
	font-size: 50px;
	padding: 0;
	margin: 0 auto;
	color: #0277BD;
}


/* -- Menu -- */

#navbar {
	width: 100%;
	height: 80px;
	background-color: #0277BD;
	margin: 0 auto;
	top: 0;
	font-family: Ubuntu;
	color: #fff;
	text-align: center;
}

.menu {
	margin: 0 auto;
	padding: 0 auto;
	top: 0;
	font-family: Ubuntu;
	color: #fff;
	padding-top: 25px;
}

.menu-text {
	list-style: none;
	text-decoration: none;
	display: inline;
	text-align: center;
	font-size: 30px;
	padding-right: 60px;
}

a {
	color: #fff;
}

a:hover {
	color: #81d4fa;
}


/* -- Footer -- */

#basdepage {
	width: 100%;
	height: 100px;
	background-color: #0277BD;
	color: #fff;
	text-align: center;
	font-family: Ubuntu;
	/*position: relative;*/
	bottom: -20px;
}

ul.footer-contact {
	padding-top: 35px;
}

/* -- Index -- */

.bloc {
	width: 960px;
	height: 400px;
	vertical-align: middle;
	margin-left: auto;
    margin-right: auto;
    /*background: #cecece;*/
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

.presentation {
	font-family: Ubuntu;
	font-size: 18px;
    vertical-align: middle;
}

.next-meetup {
	width: 960px;
	height: 300px;
	vertical-align: middle;
	margin-left: auto;
    margin-right: auto;
    /*background: #cecece;*/
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.inscription {
	text-align: center;
	padding-top: 50px;
	margin-bottom: 100px;

}

.link {
	width: 300px;
	height: 80px;
	background-color: #0277BD;
	margin: 0;
	padding: 0;
	border: none;
	font-family: Ubuntu;
	font-size: 35px;
	color: #fff;
}


/* -- Contact -- */

.infomail {
	font-size: 40px;
}

.mail {
	font-size: 60px;
	font-family: Ubuntu;
}

.photo-pitcher {
	/*width: 23%;*/
	margin-right: 16px;
	text-align: center;
	border-radius: 120px;
	border: 4px solid #0277BD;
	display: inline-block;
}

#pitcher {
	font-family: Fugaz One;
	margin: 0 auto;
    padding: 0 auto;
}

#contact {
	width: 960px;
	height: 500px;
	margin: 0 auto;
	margin-left: 200px;
}

.column {
	width: 960px;
	height: 100px;
	margin: 0 auto;
}

.ui.linkedin.button {
	width: 100px;
	height: 50px;
	margin-left: 50px;
}

.ui.twitter.button.perso {
	width: 100px;
	height: 50px;
	margin-left: 50px;
	margin-top: 20px;
}

.prenom1 {
	margin-left: 60px;
	font-family: Fugaz One;
}

.prenom2 {
	margin-left: 65px;
	font-family: Fugaz One;
}

.prenom3 {
	margin-left: 68px;
	font-family: Fugaz One;
}

.prenom4 {
	margin-left: 65px;
	font-family: Fugaz One;
}

.email {
	color: #0277BD;
}

/* -- Start-up -- */

.ui.grid {
	width: 960px;
	height: 800px;
	margin: 0 auto;
	text-align: justify;
}

.five.wide.column {
	font-family: Ubuntu;
	display: inline-block;

	margin: 0 auto;
}

.descriptionstartup {
	padding: 5px; 
	width: 305px;
	height: 270px;
	display: inline-block;
	padding: 20px;
	font-family: Ubuntu;
	font-size: 18px;
}

.lienstartup {
	color: #0277bd;
	font-family: Fugaz One;
	font-size: 18px;
}

h1.titre {
	text-align: center;
	padding-top: 50px;
	font-family: Fugaz One;
	font-size: 100px;
	color: #0277BD;
	text-shadow: 2px 2px 1px #606060;
}

h2.startup {
	color: #0277BD;
	text-align: center;
	font-family: Fugaz One;
	font-size: 40px;
	margin-bottom: 60px;
}

h3.startup {
	text-align: center;
}

a.lienstartup {
	text-align: center;
	font-size: 35px;
}

img.myteleworker {
	margin-left: 40px;
}

img.logobeecciz{
	height: 67px;
	width: 211px;
	margin-left: 23px;
}

h4{
	font-style: bold;
	font-size: 30px;
	text-align: center;
	margin-left: 40px;
}

img.smyler {
	width: 211px;
	height: 67px;
	margin-left: 46px;
}

img.drivoo {
	margin-left: 60px;
}

img.nirby {
	width: 211px;
	height: 67px;
	margin-left: 40px;
}

img.nextui {
	margin-left: 115px;
}

img.mamieregale {	
	width: 211px;
	height: 67px;
	margin-left: 40px;
}

/* -- Meet-Up -- */

.meetup {
	/*border: solid;*/
	background-color: #0277BD;
	width: 960px;
	height: 200px;
	margin: 30px auto 20px;
	padding: 20px;
	font-family: Ubuntu;
	color: #fff;
}

h1.titre {
	text-align: center;
	padding-top: 50px;
	font-family: Fugaz One;
	font-size: 100px;
	color: #0277BD;
	text-shadow: 2px 2px 1px #606060;
}

h2 {
	text-align: center;
	font-family: Fugaz One;
}

h3.pitch {
	text-align: center;
	font-family: Fugaz One;
	font-size: 35px;
}

p {
	font-size: 18px;
}

#bouton {
	width: 300px;
	height: 80px;
	background-color: #0277BD;
	margin: 0 auto;
	padding: 0;
	border: none;
	font-family: Ubuntu;
	font-size: 35px;
	color: #fff;
	margin-top: 100px;
	margin-bottom: 100px;
}

.btn {	
	width: 300px;
	height: 80px;
	background-color: #0277BD;
	margin: 0;
	padding: 0;
	border: none;
	font-family: Ubuntu;
	font-size: 35px;
	color: #fff;


/* -- Xpairs -- */

h1.titre {
	text-align: center;
	padding-top: 50px;
	font-family: Fugaz One;
	font-size: 100px;
	color: #0277BD;
	text-shadow: 2px 2px 1px #606060;
}

p {
	font-family: Ubuntu;
	text-align: justify;
	font-size: 18px;
}


.xpairstitle {
	padding-bottom: 5px;
	font-family: Ubuntu;
	color:#0277bd;
	text-align: center;
	margin: auto;
	font-size: 30px;
} 

.xpairssubt {
	color:black;
	text-align: center;
	font-family: Ubuntu;
	text-align: justify;
	font-size: 18px;
	margin: auto;
} 


.grid{
	width: 960px;
	margin: auto;
	text-align: center;
	margin-bottom: 60px;
}

.ali-column{
	width: 26%;
	display: inline-block;
	margin: 30px;
}

.imgjury{
	max-width: 100%;
	width: 180px;
	height: 180px;
}

.E{
	text-decoration: none;
	color: black;
}

.xpairs{
	font-size: 100px;
	color: #0277BD;
	text-shadow: 2px 2px 1px #606060;
	margin-top: 80px;
	margin-bottom: 80px;
}


/* -- Lieux -- */

h1.titre {
	text-align: center;
	padding-top: 50px;
	font-family: Fugaz One;
	font-size: 100px;
	color: #0277BD;
	text-shadow: 2px 2px 1px #606060;
}

container {
	width:940px;
	margin-left: auto;
	margin-right:auto;
}

.lieu {
	width: 960px;
	height: auto;
	padding: 40px;
	margin: auto;
	margin-bottom: 50px; 
}

#preslieu{
	text-align: center;
	font-family: Ubuntu;
	font-size: 22px;
	color: rgb(65, 131, 196)
}

.imglieu {
	width: 280px;
	height: auto;
	float: left;
	padding-right: 40px;
	padding-bottom: 40px;
}

p{
	font-family: Ubuntu;
	text-align: justify;
	font-size: 18px;
}


h2 {
	margin-left: 100px;
	padding-bottom: 5px;
	font-family: Fugaz One;
	color:#0277bd;
} 