body {
	/*margin-top:3em;*/
}
.container {
	width:940px;
	margin-left: auto;
	margin-right:auto;
}

h1{
	font-size: 60px;
	text-align: center;
	font-family: Fugaz One;
}

.lieu {
	width: 960px;
	height: auto;
	border-style: solid;
	padding: 40px;
	margin: auto;
	margin-bottom: 50px; 
}

#preslieu{
	text-align: center;
	font-family: Ubuntu;
	font-size: 22px;
	color: rgb(65, 131, 196)
}

.imglieu {
	width: 280px;
	height: auto;
	float: left;
	padding-right: 40px;
	padding-bottom: 40px;
}

p{
	font-family: Ubuntu;
	text-align: justify;
	font-size: 18px;
}


h2 {
	margin-left: 100px;
	padding-bottom: 5px;
	font-family: Fugaz One;
	color:#0277bd;
} 

#navbar {
	width: 100%;
	height: 80px;
	background-color: #0277bd;;
	margin: 0 auto;
	top: 0;
	font-family: Ubuntu;
	color: #fff;
	text-align: center;
}

.menu {
	margin: 0 auto;
	padding: 0 auto;
	top: 0;
	font-family: Ubuntu;
	color: #fff;
	padding-top: 25px;
}

.menu-text {
	list-style: none;
	text-decoration: none;
	display: inline;
	text-align: center;
	font-size: 30px;
	color: #FFF;
	padding-right: 60px;
}

#basdepage {
	width: 100%;
	height: 100px;
	background-color: #0277bd;
	text-align: center;
	font-family: Ubuntu;
}

ul.footer-contact {
	padding-top: 35px;
}

a{
	color:#fff;
}
a:hover{
	color:#81d4fa;
}