body {
	/*margin-top:3em;*/
	background-color: #fff;

}

div.photo {
	background-image: url(../img/accueil.jpg);
	height: 850px;
	vertical-align: middle;
}

#navbar {
	width: 100%;
	height: 80px;
	background-color: #0277BD;
	margin: 0 auto;
	top: 0;
	font-family: Ubuntu;
	color: #fff;
	text-align: center;
}

.menu {
	margin: 0 auto;
	padding: 0 auto;
	top: 0;
	font-family: Ubuntu;
	color: #fff;
	padding-top: 25px;
}

.menu-text {
	list-style: none;
	text-decoration: none;
	display: inline;
	text-align: center;
	font-size: 30px;
	padding-right: 60px;
}

a {
	color: #fff;
}

a:hover {
	color: #81d4fa;
}

#basdepage {
	width: 100%;
	height: 100px;
	background-color: #0277BD;
	color: #fff;
	text-align: center;
	font-family: Ubuntu;
	/*position: relative;*/
	bottom: -20px;
}

ul.footer-contact {
	padding-top: 35px;
}

h1 {
	text-align: center;
	padding-top: 50px;
	font-family: Fugaz One;
	font-size: 100px;
	color: #0277BD;
	text-shadow: 2px 2px 1px #606060;
}

h1.photo {
	text-align: center;
	padding-top: 300px;
	color: #fff;
}

h2.photo {
	color: #fff;
}

.bloc {
	width: 960px;
	height: 400px;
	vertical-align: middle;
	margin-left: auto;
    margin-right: auto;
    /*background: #cecece;*/
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

.presentation {
	font-family: Ubuntu;
	font-size: 18px;
    vertical-align: middle;
}

h2 {
	text-align: center;
	padding-bottom: 25px;
	font-family: Fugaz One;
	font-size: 65px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #0277BD;
	text-shadow: 2px 2px 1px #606060;
}

h2.infomail {
	font-family: Ubuntu;
}

.next-meetup {
	width: 960px;
	height: 300px;
	vertical-align: middle;
	margin-left: auto;
    margin-right: auto;
    /*background: #cecece;*/
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

h3 {
	text-align: center;
	padding-top: 50px;
	font-family: Fugaz One;
	font-size: 30px;
	padding: 0;
}

.inscription {
	text-align: center;
	padding-top: 50px;
	margin-bottom: 100px;

}

.link {
	width: 300px;
	height: 80px;
	background-color: #0277BD;
	margin: 0;
	padding: 0;
	border: none;
	font-family: Ubuntu;
	font-size: 35px;
	color: #fff;
}

.photo-pitcher {
	/*width: 23%;*/
	margin-right: 16px;
	text-align: center;
	border-radius: 120px;
	border: 4px solid #0277BD;
	display: inline-block;
}

#pitcher {
	font-family: Fugaz One;
	margin: 0 auto;
    padding: 0 auto;
}

.ui.grid {
	width: 960px;
	height: 300px;
	margin: 0 auto;
}

.column {
	width: 960px;
	margin: 0 auto;
}