#navbar {
	width: 100%;
	height: 80px;
	background-color: #0277bd;
	margin: 0 auto;
	top: 0;
	font-family: Ubuntu;
	color: #fff;
	text-align: center;
}

.menu {
	margin: 0 auto;
	padding: 0 auto;
	top: 0;
	font-family: Ubuntu;
	color: #fff;
	padding-top: 25px;
}

.menu-text {
	list-style: none;
	text-decoration: none;
	display: inline;
	text-align: center;
	font-size: 30px;
}

#basdepage {
	width: 100%;
	height: 100px;
	background-color: #0277bd;
	color: #fff;
	text-align: center;
	font-family: Ubuntu;
	/*position: relative;*/
	bottom: 0;
}

ul.footer-contact {
	padding-top: 35px;
}

/*ma mise en page en dessous */

h1 {
	text-align: center;
	padding-top: 50px;
	font-family: Fugaz One;
	font-size: 60px;
}

a{
	color:#fff;
}

a:hover{
	color:#81d4fa;
}

p{
	font-family: Ubuntu;
	text-align: justify;
	font-size: 18px;
}


h2 {
	padding-bottom: 5px;
	font-family: Fugaz One;
	color:#0277bd;
	text-align: center;
} 

h3 {
	padding-bottom: 5px;
	color:black;
	text-align: center;
	font-family: Ubuntu;
	text-align: justify;
	font-size: 18px;
} 

.conteneurxpairs{
	width: 960px;
	padding: 40px;
	margin: auto;
	margin-bottom: 50px; 
	border-style: solid;
}

.blocsxpairs{
	width: 30%;
	border-style: solid;
	display: inline-block;
	padding: 5px;
	margin-right: 15px;
}

.imgjury{
	width: 160px; 
	height: auto;
}
